// background
$base-color: #ddd;
$background-light: #fff;

// fonts
$base-text: #331a00;
$base-alt-text: aquamarine;
$white-denser: #cccc00;
$closer-white: #f2f2f2;

// border
$base-border: #33331a;

// colors
$success: #004d00;
