@font-face {
    font-family: 'Anthony Hunter';
    src: url(assets/fonts/Anthony\ Hunter.ttf);
}

@font-face {
    font-family: 'Anthony Hunter Italic';
    src: url(assets/fonts/Anthony\ Hunter\ Italic.ttf);
}

@font-face {
    font-family: 'Pacifico-Regular';
    src: url(assets/fonts/Pacifico-Regular.ttf);
}

@font-face {
    font-family: 'Paradise';
    src: url(assets/fonts/Paradise.otf);
}

@font-face {
    font-family: 'PermanentMarker';
    src: url(assets/fonts/PermanentMarker-Regular.ttf);
}