
.navbar {
    background-color: $background-light;
    padding: 10px 20px;

    .navbar-logo__container {
        .navbar-logo__container-link {
            .navbar-logo__container-image {
                border-radius: 50%;
            }
        }
    }
}