@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables/fonts.scss';
@import './variables/color.scss';
@import './variables/sizes.scss';

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $base-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $base-text;
}

a {
    text-decoration: none;
}

.container {
    margin: 20px 40px;
    @media (max-width: 400px) {
        margin: 10px 10px;
    }
}

input, textarea {
    border: none;
    font-size: 17px;
    display: block;
    padding: 10px 15px;
    outline: none;
}

label {
    font-size: 16px;
    font-family: 'PermanentMarker';
}

button {
    border: none;
    display: block;
    outline: none;
}

@import './sections/header.scss';
@import './sections/self-explanation.scss';
@import './sections/projects.scss';
@import './sections/articles.scss';
@import './sections/my-stacks.scss';
@import './sections/contact.scss';